# Dependencies
node_modules/
**/node_modules/

# Database
*.sqlite
*.db

# Environment variables
.env
.env.local

# Build outputs
dist/
build/
*.log

# IDE
.vscode/
.idea/
*.sw

# OS
.DS_Store
Thumbs.db

# Misc
*.tgz
