version: "3.9"
services:
  backend:
    build: ./backend
    ports:
      - "5050:5050"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/src/db:/app/src/db
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env
    environment:
      - VITE_API_URL=http://localhost:5050
    depends_on:
      - backend
